<main>
  <form [formGroup]="form" (submit)="calculate()">
    <label for="pulling">I'm pulling for</label>
    <select
      type="string"
      id="pulling"
      formControlName="pulling"
      placeholder="Character"
      (click)="clearLeftOver()"
    >
      <option value="Character">Character</option>
      <option value="Weapon">Weapon</option>
      <option value="Both">Both</option>
    </select>
    <hr />
    <label for="crystal">Enter the number of Crystals:</label>
    <input
      type="number"
      id="crystal"
      formControlName="crystalCount"
      placeholder="0"
    />
    <span class="error">
      @if (form.get("crystalCount")?.hasError("min")) {
        Minimun value is: 0
      }
      @if (form.get("crystalCount")?.hasError("required")) {
        This field is required
      }
    </span>
    <label for="jewel">Enter the number of Meta jewels:</label>
    <input
      type="number"
      id="jewel"
      formControlName="jewelCount"
      placeholder="0"
    />
    <span class="error">
      @if (form.get("jewelCount")?.hasError("min")) {
        Minimun value is: 0
      }
      @if (form.get("jewelCount")?.hasError("required")) {
        This field is required
      }
    </span>
    <hr />
    @switch (form.get("pulling")?.value) {
      @case ("Character") {
        <label for="platinum-ticket">Enter number of Platinum Tickets </label>
        <input
          type="number"
          id="platinum-ticket"
          formControlName="platinumTicketCount"
          placeHolder="0"
        />
        <span class="error">
          @if (form.get("platinumTicketCount")?.hasError("min")) {
            Minimun value is: 0
          }
          @if (form.get("platinumTicketCount")?.hasError("required")) {
            This field is required
          }
        </span>
        <label for="pity-type">Pity Type</label>
        <select
          type="string"
          id="pity-type"
          formControlName="pityType"
          placeHolder="160"
          (click)="updateMax()"
        >
          <option value="160">160</option>
          <option value="110">110</option>
        </select>

        <label for="chara-pity">Enter your pity</label>
        <input
          type="number"
          id="chara-pity"
          formControlName="charaPity"
          placeHolder="0"
        />
        <span class="error">
          @if (form.get("charaPity")?.hasError("min")) {
            Minimun value is: 0
          }
          @if (form.get("charaPity")?.hasError("max")) {
            Maximun value is: {{ currentCharaMax }}
          }
          @if (form.get("charaPity")?.hasError("required")) {
            This field is required
          }
        </span>
      }
      @case ("Weapon") {
        <label for="platinum-mili">Enter number of Milicoins</label>
        <input
          type="number"
          id="platinum-mili"
          formControlName="platinumMiliCount"
          placeHolder="0"
        />
        <span class="error">
          @if (form.get("platinumMiliCount")?.hasError("min")) {
            Minimun value is: 0
          }
          @if (form.get("platinumMiliCount")?.hasError("required")) {
            This field is required
          }
        </span>

        <label for="weapon-pity">Enter your pity</label>
        <input
          type="number"
          id="weapon-pity"
          formControlName="weaponPity"
          placeHolder="0"
        />
        <span class="error">
          @if (form.get("weaponPity")?.hasError("min")) {
            Minimun value is: 0
          }
          @if (form.get("weaponPity")?.hasError("required")) {
            This field is required
          }
        </span>
      }
      @case ("Both") {
        <label for="platinum-ticket">Enter number of Platinum Tickets </label>
        <input
          type="number"
          id="platinum-ticket"
          formControlName="platinumTicketCount"
          placeHolder="0"
        />
        <span class="error">
          @if (form.get("platinumTicketCount")?.hasError("min")) {
            Minimun value is: 0
          }
          @if (form.get("platinumTicketCount")?.hasError("required")) {
            This field is required
          }
        </span>
        <label for="pity-type">Pity Type</label>
        <select
          type="string"
          id="pity-type"
          formControlName="pityType"
          placeHolder="160"
          (click)="updateMax()"
        >
          <option value="160">160</option>
          <option value="110">110</option>
        </select>

        <label for="chara-pity">Enter your pity</label>
        <input
          type="number"
          id="chara-pity"
          formControlName="charaPity"
          placeHolder="0"
        />
        <span class="error">
          @if (form.get("charaPity")?.hasError("min")) {
            Minimun value is: 0
          }
          @if (form.get("charaPity")?.hasError("max")) {
            Maximun value is: {{ currentCharaMax }}
          }
          @if (form.get("charaPity")?.hasError("required")) {
            This field is required
          }
        </span>

        <!-- For the Weapon -->

        <hr />
        <label for="platinum-mili">Enter number of Milicoins</label>
        <input
          type="number"
          id="platinum-mili"
          formControlName="platinumMiliCount"
          placeHolder="0"
        />
        <span class="error">
          @if (form.get("platinumMiliCount")?.hasError("min")) {
            Minimun value is: 0
          }
          @if (form.get("platinumMiliCount")?.hasError("required")) {
            This field is required
          }
        </span>
        <label for="weapon-pity">Enter your pity</label>
        <input
          type="number"
          id="weapon-pity"
          formControlName="weaponPity"
          placeHolder="0"
        />
        <span class="error">
          @if (form.get("weaponPity")?.hasError("min")) {
            Minimun value is: 0
          }
          @if (form.get("weaponPity")?.hasError("required")) {
            This field is required
          }
        </span>
      }
    }
    <hr />
    <button class="clickable">
      <span class="character-box">C</span>
      <span class="character-box">a</span>
      <span class="character-box">l</span>
      <span class="character-box">c</span>
      <span class="character-box">u</span>
      <span class="character-box">l</span>
      <span class="character-box">a</span>
      <span class="character-box">t</span>
      <span class="character-box">e</span>
    </button>
  </form>
  @if (finishCalc) {
    <article class="polygon-outer">
      <div class="polygon-inner">
        <h3>Pulling for '{{ form.get("pulling")?.value }}'</h3>
        <p>Left Over Crystals: {{ calculator.leftOverCrystals }}</p>
        <p>Left Over Jewels: {{ calculator.leftOverJewels }}</p>

        @if (form.get("pulling")?.value === "Character") {
          <p>Left Over Platinum Tickets: {{ calculator.leftOverPlatinum }}</p>
          @if (calculator.pullsLeftChara > 0) {
            <p>
              You would need to do {{ calculator.pullsLeftChara }} more pull{{
                calculator.pullsLeftChara === 1 ? "" : "s"
              }}
              to get the character
            </p>
          } @else {
            <p>Congrats! you got the character</p>
          }
        }
        @if (form.get("pulling")?.value === "Weapon") {
          <p>Left Over Mili: {{ calculator.leftOverMili }}</p>
          @if (calculator.pullsLeftWeapon > 0) {
            <p>
              You would need to do {{ calculator.pullsLeftWeapon }} more pull{{
                calculator.pullsLeftWeapon === 1 ? "" : "s"
              }}
              to get the weapon
            </p>
          } @else {
            <p>Congrats! you got the weapon</p>
          }
        }
        @if (form.get("pulling")?.value === "Both") {
          <p>Left Over Platinum Tickets: {{ calculator.leftOverPlatinum }}</p>
          @if (calculator.pullsLeftChara > 0) {
            <p>
              You would need to do {{ calculator.pullsLeftChara }} more pull{{
                calculator.pullsLeftChara === 1 ? "" : "s"
              }}
              to get the character
            </p>
          } @else {
            <p>Congrats! you got the character</p>
          }
          <p>Left Over Mili: {{ calculator.leftOverMili }}</p>
          @if (calculator.pullsLeftWeapon > 0) {
            <p>
              You would need to do {{ calculator.pullsLeftWeapon }} more pull{{
                calculator.pullsLeftWeapon === 1 ? "" : "s"
              }}
              to get the weapon
            </p>
          } @else {
            <p>Congrats! you got the weapon</p>
          }
        }
      </div>
    </article>
  }
</main>
