* {
  font-size: 1.2em;
  font-family: "p5hatty";
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 40vw;
}
h3 {
  letter-spacing: 0.1em;
}
button {
  align-self: center;
  background-color: black;
  border: 1px solid gray;
  font-size: 2em;
  box-shadow: -13px 13px 0px 0px rgba(217, 35, 35, 1);
  -webkit-box-shadow: -13px 13px 0px 0px rgba(217, 35, 35, 1);
  -moz-box-shadow: -13px 13px 0px 0px rgba(217, 35, 35, 1);
  &:hover {
    animation: hover-button 0.3s ease-in-out;
    animation-fill-mode: forwards;
    & span {
      animation: shake infinite 0.2s linear alternate;
    }
  }
  & span {
    &:first-child {
      transform: rotate(-4deg);
      color: black;
      background-color: white;
      border-color: var(--red);
    }
    &:nth-child(2) {
      color: var(--red);
    }
    &:nth-child(3) {
      transform: rotate(4deg);
    }
    &:nth-child(4) {
      background-color: var(--red);
    }
    &:nth-child(5) {
      background-color: var(--red);
    }
    &:nth-child(6) {
      transform: rotate(5deg);
      background-color: var(--red);
    }
    &:nth-child(7) {
      transform: rotate(-4deg);
      color: black;
      background-color: white;
      border-color: var(--red);
    }
    &:last-child {
      transform: rotate(-2deg);
      border-color: var(--red);
    }
  }
}
.polygon-outer {
  background-color: var(--p5-red);
  animation: polygon-outer-shake 0.5s infinite alternate;
}
.polygon-inner {
  animation: polygon-inner-shake 0.5s infinite alternate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  & > * {
    margin: 0;
  }
}
.polygon-inner * {
  color: black;
}
