#root-damage-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  padding: 2em;
  justify-content: space-between;

  font-family: "p5hatty";
  font-size: 1.3em;
  & section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:first-child {
        align-items: flex-start;
      }
      &:last-child {
        align-items: flex-end;
      }
    }
  }
}
.item-container {
  justify-items: center;
}
#item {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  font-size: 1.4em;
}
button {
  align-self: center;
  background-color: black;
  border: 1px solid gray;
  font-size: 2em;
  box-shadow: -13px 13px 0px 0px rgba(217, 35, 35, 1);
  -webkit-box-shadow: -13px 13px 0px 0px rgba(217, 35, 35, 1);
  -moz-box-shadow: -13px 13px 0px 0px rgba(217, 35, 35, 1);
  &:hover {
    animation: hover-button 0.3s ease-in-out;
    animation-fill-mode: forwards;
    & span {
      animation: shake infinite 0.2s linear alternate;
    }
  }
  & span {
    font-size: 0.8em;
    &:first-child {
      transform: rotate(-4deg);
      color: black;
      background-color: white;
      border-color: var(--red);
    }
    &:nth-child(2) {
      color: var(--red);
    }
    &:nth-child(3) {
      transform: rotate(4deg);
    }
    &:nth-child(4) {
      background-color: var(--red);
    }
    &:nth-child(5) {
      background-color: var(--red);
    }
    &:nth-child(6) {
      transform: rotate(5deg);
      background-color: var(--red);
    }
    &:nth-child(7) {
      transform: rotate(-4deg);
      color: black;
      background-color: white;
      border-color: var(--red);
    }
    &:last-child {
      transform: rotate(-2deg);
      border-color: var(--red);
    }
  }
}
#heart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}
#damage {
  position: relative;
  z-index: 2;
  transform: translate(-10px, -130px);
  font-size: 4.4em;

  font-family: p5main;
  letter-spacing: -16px;
  width: fit-content;
}
#heart {
  position: relative;
  transform: translateY(105px);
  height: 210px;
}
#damage-formula {
  margin-top: 2em;
}
#focus {
  display: flex;
  align-items: center;
}
