.persona-card {
  width: 15%;
  padding: 0;
  border: 0;
  background-color: transparent;
  & span {
    position: relative;
    font-size: 2em;
    transform: translateY(-0.6em);
  }
}
.polygon-outer {
  background-color: var(--p5-red);
  & > section {
    background-color: black;
  }
}
.polygon-inner {
  padding: 4em;
}
.persona-info {
  & .persona-card-image {
    width: 30%;
    transform: rotate(-10deg);
  }
}
.persona-info {
  display: flex;
  color: black;
  & div {
    & * {
      color: black;
    }
  }
}
dialog {
  width: 80vw;
}
main {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 3em 1em 4em 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
