main {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
article {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.2);
}
h1 {
  width: fit-content;
}
nav {
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 4vw;

  background-color: var(--p5-red);
  & button {
    background-image: url("../../assets/ui/menu.svg");
    width: 100%;
    height: 4em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    margin: 0;
    &:hover {
      animation: hover-button 0.3s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}
footer {
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: black;
}
